{% extends "navbar.html" %}

{% block content %}
  <div class="container justify-content-left">
    <div class="row">
    <div class="col-md-12">
    <div class="row justify-content-center title">
        <div class="col-12 text-center">
      There are 5 multiple choice questions. Press begin to start the quiz.
        </div>
    </div>
    </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <button class="btn-primary w3-button w3-border w3-xxlarge w3-red" id="startQ"> Begin </button>
  </div>
  </div>
{% endblock %}